@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: inherit;
}
